/*Palette.css*/
.palette {
	/* box-shadow: 0 2px 6px -1px #7f8c8d; */
	border: 1px solid rgba(96, 121, 125,0.4);
	background-color: #fff;
	margin: 24px;
	position: absolute;
	top: 0;
	right: 0;
}
.palette-header {
	display: flex;
	flex-direction: column;
	padding: 24px 0;
	border-bottom: 1px solid rgba(96, 121, 125,0.4);
}
.palette-header > div {
	margin: 12px auto;
}
.palette-size-buttons {
	display: flex;
	justify-content: space-between;
	padding: 24px 48px;
	border-bottom: 1px solid rgba(96, 121, 125,0.4);
}
.color-containers {
	display: grid;
    margin: 0 24px;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
}
.color-container {
	max-width: 96px;
	display: flex;
}
.color-individual {
	display: block;
	height: 48px;
	width: 48px;
	border-radius: 100%;
	margin: 24px;
}
.code-container {
	
}

/*SizeButton.css*/
.size-btn {
    display: block;
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 100%;
}

button {
	padding: 8px 12px;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

/*media queries*/

@media screen and (max-width: 1280px) {
	.color-conatiners {
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
	}
}

@media screen and (max-width: 720px) {
	.color-conatiners {
		grid-template-columns: auto;
		grid-template-rows: repeat(9, auto);
	}
}