/*App.css*/
* {
	box-sizing: border-box;
}
body, html {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
body {
	overflow: hidden;
}
div#root {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: #232E33;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
}
input[type="range"] {
	width: 100%;
}
.center-absolute {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
    border: 1px solid rgba(96, 121, 125,0.4);
	border-top: none;
	padding: 12px 24px;
	background-color: #fff;
}
.btn {
	transition: all ease 0.2s;
}
.btn:hover {
	transform: scale(1.2);
}